In [1]:
import pandas as pd

In [2]:
performance = pd.read_csv("Employee_Performance.csv")

In [3]:
performance.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3

In [4]:
emp_perf = performance[['EmpLastSalaryHikePercent','EmpEnvironmentSatisfaction','EmpWorkLifeBalance','YearsSinceLastPromotion','PerformanceRating']]

In [5]:
emp_perf.head()

,EmpLastSalaryHikePercent,EmpEnvironmentSatisfaction,EmpWorkLifeBalance,YearsSinceLastPromotion,PerformanceRating
0,12,4,2,0,3
1,12,4,3,1,3
2,21,4,3,1,4
3,15,2,2,12,3
4,14,1,3,2,3

In [6]:
training_data = emp_perf.copy()

In [7]:
training_data.drop("PerformanceRating", axis = 1, inplace = True)

In [8]:
training_data.head()

,EmpLastSalaryHikePercent,EmpEnvironmentSatisfaction,EmpWorkLifeBalance,YearsSinceLastPromotion
0,12,4,2,0
1,12,4,3,1
2,21,4,3,1
3,15,2,2,12
4,14,1,3,2

In [9]:
output_data = emp_perf['PerformanceRating']

In [10]:
output_data.head()

0    3
1    3
2    4
3    3
4    3
Name: PerformanceRating, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X, x_test, Y, y_test = train_test_split(training_data,output_data, test_size = 0.3, random_state = 42)

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [16]:
model = DecisionTreeClassifier()

In [17]:
model.fit(X,Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [19]:
prediction = model.predict(x_test)

In [20]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [22]:
accuracy_score(y_test,prediction)

0.825

In [24]:
emp_attrition = performance[['OverTime','Age','EmpJobLevel','EmpEnvironmentSatisfaction','Attrition']]

In [25]:
emp_attrition.head()

  OverTime  Age  EmpJobLevel  EmpEnvironmentSatisfaction Attrition
0       No   32            2                           4        No
1       No   47            2                           4        No
2      Yes   40            3                           4        No
3       No   41            5                           2        No
4       No   60            2                           1        No

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
labels = LabelEncoder()

In [31]:
emp_attrition['OverTime'] = labels.fit_transform(emp_attrition["OverTime"])

C:\Users\Prachi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
emp_attrition['Attrition'] = labels.fit_transform(emp_attrition["Attrition"])

C:\Users\Prachi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
emp_attrition.head()

   OverTime  Age  EmpJobLevel  EmpEnvironmentSatisfaction  Attrition
0         0   32            2                           4          0
1         0   47            2                           4          0
2         1   40            3                           4          0
3         0   41            5                           2          0
4         0   60            2                           1          0

In [34]:
training_data1 = emp_attrition.copy()

In [35]:
training_data1.drop("Attrition", axis = 1, inplace = True)

In [36]:
training_data1.head()

   OverTime  Age  EmpJobLevel  EmpEnvironmentSatisfaction
0         0   32            2                           4
1         0   47            2                           4
2         1   40            3                           4
3         0   41            5                           2
4         0   60            2                           1

In [37]:
output_data1 = emp_attrition['Attrition']

In [38]:
X1, x1_test, Y1, y1_test = train_test_split(training_data1,output_data1,test_size = 0.3, random_state = 42)

In [45]:
model1 = DecisionTreeClassifier()

In [47]:
model1.fit(X1,Y1)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [48]:
prediction1 = model1.predict(x1_test)

In [49]:
accuracy_score(y1_test,prediction1)

0.8

# Saving model as external file

In [50]:
from sklearn.externals import joblib

In [51]:
file = "EMP_PERFORMANCE_RATING.sav"

joblib.dump(filename = file, value = model)

['EMP_PERFORMANCE_RATING.sav']

In [52]:
file1 = "EMP_ATTRITION.sav"

joblib.dump(filename = file1, value = model1)

['EMP_ATTRITION.sav']